.tytle{
    color:  #FFF;
    font-family: ABeeZee;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 106.38%;
    max-width: 264px;
    padding-top: 30px;
  
}
.wrapper{
   display: flex;
   flex-direction: column;
   padding-left: 70px;

}
.decoration{
    border-bottom:1px solid rgb(253, 253, 253);
    width: 340px;
    height: 96px;
    /* margin: 0 auto; */
   
}